name: Python CI

on:
  push:
    paths-ignore: 
      - 'docs/**'
      - '**.md'

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.9.0"

      - name: Cache pip
        uses: actions/cache@v2
        with:
          # This path is specific to Ubuntu
          path: ~/.cache/pip
          # Look to see if there is a cache hit for the corresponding requirements file
          key: ${{ runner.os }}-pip-${{ hashFiles('setup.py') }}
          restore-keys: |
            ${{ runner.os }}-pip-
            ${{ runner.os }}-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ".[dev]"

      - name: Lint with flake8
        run: |
          # The GitHub editor is 127 chars wide
          flake8 --max-line-length=127

      - name: Type checking with mypy
        run: |
          mypy censys

      - name: Test with pytest
        run: |
          pytest
