name: Python CI

on:
  push:
    paths-ignore:
      - "**.rst"
      - "**.md"
  pull_request:
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python: ["3.6", "3.x"]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - name: Install poetry
        run: |
          python -m pip install --upgrade pip poetry
          poetry config virtualenvs.in-project true

      - name: Install dependencies
        run: |
          poetry install

      - name: Lint with flake8
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          poetry run flake8 --max-line-length=127

      - name: Type checking with mypy
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          poetry run mypy censys

      - name: Test with pytest
        run: |
          poetry run pytest --cov --cov-fail-under=100
